<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arno.demo.life">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeDemo">
        <activity
            android:name=".other.proxy.ProxyLearnActivity"
            android:exported="false" />
        <activity
            android:name=".project.network.NetworkLearnActivity"
            android:exported="false" />
        <activity
            android:name=".project.coroutine.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".sys.recyclerview.RecyclerCacheActivity"
            android:exported="false" />
        <activity
            android:name=".sys.fragment.FragmentLearnActivityBase"
            android:exported="false" />
        <activity
            android:name=".project.rxjava.RxJavaActivity"
            android:exported="false" />
        <activity
            android:name=".base.view.DesktopDialogActivity"
            android:exported="false" />
        <activity
            android:name=".base.view.TestConstraintlayoutActivity"
            android:exported="true" />
        <activity
            android:name=".work.motion.MotionActivity"
            android:exported="true" />
        <activity
            android:name=".work.dinner.DinnerActivity"
            android:theme="@style/DinnerTheme" />
        <activity
            android:name=".work.share.ShareCActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".work.share.ShareBActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".work.share.ShareRootActivity"
            android:launchMode="singleTask" />
        <activity android:name=".other.hook.HookLearnActivity" />
        <activity android:name=".sys.handler.BlockLearnActivity" />
        <activity android:name=".sys.pref.ViewPrefLearnActivity" />
        <activity android:name=".project.router.RouterLearnActivity" />
        <activity android:name=".sys.messenger.MessengerLearnActivity" />

        <service
            android:name=".sys.messenger.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".project.router.module.main.MainRemoteService"
            android:exported="true" />

        <activity android:name=".sys.handler.HandlerLearnActivity" />
        <activity android:name=".other.annotation.AnnotationLearnActivity" />
        <activity android:name=".project.event.EventLearnActivity" />
        <activity android:name=".sys.loader.ClassLoaderActivity" />
        <activity android:name=".sys.conflict.Scroller_Recycler_Same_Outer" />
        <activity android:name=".sys.conflict.ConflictLearnActivity" />
        <activity android:name=".base.view.ViewLearnActivity" />
        <activity android:name=".sys.task.TaskLearnActivity" />
        <activity android:name=".sys.life.B_Activity" />
        <activity android:name=".sys.life.LifeLearnActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sys.life.B_Translate_Activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".sys.life.B_Translate_Auto_Activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".sys.life.B_WithTask_Activity" />
        <activity android:name=".sys.task.StandardActivity" />
        <activity
            android:name=".sys.task.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".sys.task.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".sys.task.SingleTaskActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.my.single" />
        <activity android:name=".sys.conflict.Scroller_Recycler_Same_Inner" />
    </application>

</manifest>