<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arno.demo.life">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeDemo">
        <activity android:name=".view.ViewLearnActivity"></activity>
        <activity android:name=".task.TaskLearnActivity" />
        <activity android:name=".life.B_Activity" />
        <activity android:name=".life.LifeLearnActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".life.B_Translate_Activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".life.B_WithTask_Activity" />
        <activity android:name=".task.StandardActivity" />
        <activity
            android:name=".task.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".task.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".task.SingleTaskActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.my.single" />
    </application>

</manifest>